<h1>Eat-Da-Burger</h1>

<ul>
    {{#each burgers}}
    <p><button type="submit">Devour</button> {{id}}. {{burger_name}}</p>

    {{/each}}
</ul>

{{!-- add burger --}}
<h2>Add Burger</h2>
<form>
  <textarea type="text" name="Type burger name..."></textarea>
  <button type="submit">Create Burger!</button>
</form>


<script type="text/javascript">

    // Send the DEVOUR request.


    // Send the POST request.


    // Send the PUT request.

</script>